.Notes
  width 100%
  min-height 100px
  font-size inherit
  background none
  border 0
  resize vertical
  padding 8px 10px

  &::placeholder
    font-family inherit
    color alpha(#5C7080, 0.5)

  &:focus
    outline none
