.Overview
  display flex
  flex-direction column

  &-cell
    font-size 1.6rem
    padding 15px

  &-cell--main
    font-size 2.4rem

  &-delimiter
    width 100%
    height 1px
    flex-shrink 0
    background-color #E6E9ED

  &-delimiter--vertical
    width 1px
    height auto
    align-self stretch

  &-title
    color #B4BCC6
    font-size 1.2rem
    font-weight normal
    text-transform uppercase
    margin 0 0 5px

  &-trend
    font-size 1.2rem
    white-space nowrap
    margin-right 3px
    margin-top 5px

    svg
      width 8px
      height 8px
      transform rotate(180deg)

  &-trend--positive
    color #28A855
    fill #28A855

  &-trend--negative
    color #D83B36
    fill #D83B36

.Overview--period
  max-width 450px
  height 180px
  flex-direction row

  .Overview-row
    height 100%
    display flex
    flex-wrap wrap

  .Overview-cell
    height 50%
    display flex
    flex-direction column
    flex-basis 0
    flex-grow 1

  .Overview-cell--main
    height auto
    display flex
    flex-direction column
    justify-content center

.Overview--boxOffice
  width 440px
  flex-direction row

  .Overview-cell
    flex-basis 50%
    font-size 1.8rem
    padding 15px 25px

  .Overview-title
    color alpha(white, 0.7)
