.Report
  display flex
  cursor pointer
  padding 9px 15px

  &-icon
    width 16px
    height 16px
    fill #28A855
    margin-right 17px

    svg
      width 100%
      height 100%

  &-text
    margin-right 15px

  &-arrow
    width 16px
    height 16px
    display flex
    justify-content center
    align-items center
    background-color #348ED8
    fill white
    border-radius 50%
    margin-left auto

    svg
      width 10px
      height 10px
