.Card
  width 100%
  background-color white
  box-shadow 0 1px 2px 0 alpha(#282C30, 0.05)
  border 1px solid #DADFE5
  margin-bottom 15px

.Card--rounded
  border-radius 4px

.Card--transparent
  background-color transparent
  box-shadow none
  border-color #D0D6DD

.Card--success
  background-color #28A855
  border none
  color white
