.Dashboard
  width 100vw
  display flex
  align-items stretch

  &-column
    display flex
    flex-direction column
    align-items stretch
    flex-shrink 0

    &:last-of-type
      padding-right 100px

  &-row
    width 100%
    position relative
    padding 2px 33px 18px 22px

    &:before
      content ''
      width 10px
      height 10px
      display block
      border solid 2px #8A909B
      border-radius 50%
      position absolute
      left 0
      top 4px

    &:after
      content ''
      width 2px
      height calc(100% - 18px)
      background-color #E6E9ED
      position absolute
      left 4px
      bottom 0


    &:last-of-type
      flex-grow 1

  &-rowTitle
    font-size 1.2rem
    font-weight normal
    text-transform uppercase
    margin-top 0
    margin-bottom 18px

  &-rowTitle--success
    color #28A855
