.CreativeTable
  width calc(100% + 1px)
  border-collapse collapse
  text-align right

  tr
    border-top 1px solid #DADFE5

  thead tr
    background-color #F7F8F9
    border none

  th
    font-size 1rem
    font-weight normal
    padding 6px 10px

    &:first-of-type
      text-align  left
      padding-left 12px

  td
    font-size 1.2rem
    border-left 1px solid #DADFE5
    padding 10px

    &:first-of-type
      text-align left
      border-left 2px solid #D0D6DD
      padding 3px 5px 3px 2px

  &-description
    display flex
    align-items center

  &-itemImg
    width 26px
    height 26px
    border 1px solid #EFF2F4
    border-radius 3px
    margin-right 8px

  &-typeTitle
    font-size 1rem
    font-weight normal
    color #68707A
    text-transform uppercase
    margin 0
