.Funnel
  background-color white
  border 1px solid #DADFE5
  border-radius 4px
  padding 30px 40px

  &-title
    font-size 20px
    font-weight normal

  &-legend
    display flex
    font-size 1.2rem
    color #68707A
    margin-bottom 40px

  &-legendItem
    display flex
    align-items center
    margin-right 26px

  &-legendDot
    width 15px
    height 15px
    border-radius 50%
    margin-right 8px

  &-legendValue
    color #42484F
    margin-left 8px
