.Nav
  height 52px
  flex-shrink 0
  display flex
  align-items center
  background-color #282C30
  color #B4BCC6
  font-size 1.2rem
  text-transform uppercase
  padding 0 16px

  &-button
    height 100%
    display flex
    align-items center
    color inherit
    text-decoration none
    position relative
    padding 0 10px
    transition all 150ms ease

    &:after
      content ''
      width 0
      height 2px
      display block
      background-color #3797E5
      position absolute
      bottom 0
      left 50%
      transform translateX(-50%)
      transition width 150ms ease

    &.isActive
      color white

      &:after
        width 100%

  &-logo
    width 25px
    height 25px
    margin-right 20px

    img
      width 100%
      height 100%
